<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-4">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center text-danger">
                    <h2>EMPLOYEE ADD</h2>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label"><h5>PRODUCT CODE</h5></label>
                    <input name="productCode" [(ngModel)]="productCode" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label"><h5>PRODUCT NAME</h5></label>
                    <input name="productName" [(ngModel)]="productName" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label"><h5>MANUFACTURING DATE</h5></label>
                    <input type="date" name="manufDate" [(ngModel)]="manufDate" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label"><h5>EXPIRY DATE</h5></label>
                    <input type="date" name="expDate" [(ngModel)]="expDate" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label"><h5>SELLER NAME</h5></label>
                    <input name="sellerName" [(ngModel)]="sellerName" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label"><h5>DISTRIBUTOR</h5></label>
                    <input name="distributor" [(ngModel)]="distributor" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label"><h5>PRICE</h5></label>
                    <input name="price" [(ngModel)]="price" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label"><h5>BRAND</h5></label>
                    <input name="brand" [(ngModel)]="brand" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <button (click)="read()" class="btn btn-success"><h4>Submit</h4></button>
                </div>
            </div>
        </div>
    </div>
</div>
